<:Title>
  Home

<:Body>
  <h1>Home</h1>

<form e-submit="add_repository" role="form">
  <div class="form-group">
    <label>Repository clone url</label>
    <input class="form-control" type="text" value="{{ page._new_repository }}" />
  </div>

  {{ if page._in_progress }}
    <p>loading...</p>
  {{ else }}
    {{ if page._error }}
      <p>ERROR: {{ page._error }}</p>
    {{ else }}
      <table>
        <thead>
          <tr>
            <th>Author</th>
            <th>Lines / Total lines</th>
            <th>Percentage</th>
          </tr>
        </thead>
      {{ page._result.each do |result| }}
        <tbody>
          <tr>
            <td>{{ result._author }}</td>
            <td>{{ result._lines }} / {{ result._total_lines }}</td>
            <td>{{ result._percent }}%</td>
          </tr>
        </tbody>
      {{ end }}
      </table>
    {{ end }}
  {{ end }}
</form>
